{% extends "report_base.html" %}

{% block styles %}
    <link href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap-switch-button@1.1.0/css/bootstrap-switch-button.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div style="color: #ff0000; font-size: medium; margin-top: 20px; margin-left: 100px">
    {%  if error|length > 0 %}
        {{ error }}
    {% else %}
        Unexpected error has occurred, sorry for the inconvenience.
    {% endif %}
    </div>
{% endblock %}