{% extends "report_base.html" %}

{% block scripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap5.min.js"></script>
    <!--script type="text/javascript" src="/static/js/reports_full_load.js"></script -->
{% endblock %}

{% block styles %}
    <link href="https://cdn.datatables.net/1.10.23/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap-switch-button@1.1.0/css/bootstrap-switch-button.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<!--    <b>JSON data:</b>
    <br>
-->
    {{ data.json }}
{% endblock %}